<%= form_for movie do |f| %>
 <div class="form-group">
 <label>映画名</label>
  <%= f.text_field :title, class: "form-control" %>
 </div>

  <div class="form-group">
   <label>感想</label>
   <%= f.text_area :body, class: "form-control" %>
  </div>
  
  <div class="form-group">
   <label>画像</label>
   <%= f.file_field :image, accept: "image/*" %>
  </div>

<%= f.submit class: "btn btn-success" %>

<% end %>