<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @movie.title %></h5>
          <p>画像</p>
            <% if @movie.image.attached? %>
              <%= image_tag @movie.image, class: "movie_icon" %>
            <% else %>
              <%= image_tag 'no_image', class: "movie_icon" %>
            <% end %>
          <p class="card-text"><%= simple_format @movie.body %></p>
          <p class="card-text">
            <small class="text-muted">更新日：<%= @movie.updated_at.strftime("%Y-%m-%d") %></small>
          </p>
          <% if current_user.already_favorited?(@movie) %>
            <%= link_to movie_favorites_path(@movie), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to movie_favorites_path(@movie), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= @movie.favorites.count %>
          <% if @movie.user == current_user %>
            <%= link_to '編集', edit_movie_path(@movie), class: "btn btn-success" %>
            <%= link_to '削除', movie_path(@movie), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
